designs/pages/Scan/Scan.json
[
    {
        "id": "sd_LIDAnDbHw9UbxkCR",
        "type": "tab",
        "createdDate": "2023-04-28T10:29:11.794Z",
        "label": "Scan",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_zrAR33Ye7lx66Zgj",
        "type": "OnInit",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_zrAR33Ye7lx66Zgj",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_yGxv4THYziNBSaz7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_yGxv4THYziNBSaz7",
        "type": "PageVariables",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_yGxv4THYziNBSaz7",
        "category": "Function",
        "x": 185,
        "y": 60,
        "wires": [
            [
                "sd_OLogPnkIXIvbzjaW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_Ze6OgkGFVrNKCQOj",
        "type": "UseDependency",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "BarcodeReader",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "BarcodeReader"
                },
                "injectable": false
            },
            {
                "textIp": "BarcodeScanner",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "BarcodeScanner"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "dynamsoft-javascript-barcode",
        "serviceDesignerType": "pages",
        "functionName": "sd_Ze6OgkGFVrNKCQOj",
        "category": "Function",
        "x": 505,
        "y": 400,
        "wires": [
            [
                "sd_PqraNVbOFRW0sAWc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_PqraNVbOFRW0sAWc",
        "type": "Environment",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "BARCODE_READER"
                },
                "envProperty": "BARCODE_READER"
            }
        ],
        "functionName": "sd_PqraNVbOFRW0sAWc",
        "category": "General",
        "x": 605,
        "y": 400,
        "wires": [
            [
                "sd_bAn51UN2NmXoPM9Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_bAn51UN2NmXoPM9Z",
        "type": "Script",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(bh.local.BARCODE_READER,\"BARCODE_READER\")\n// console.log(bh.local.BarcodeReader,\"BarcodeReader\")\n// console.log(bh.local.BarcodeScanner,\"BarcodeScanner\")\nBarcodeReader.license = bh.local.BARCODE_READER;\nBarcodeReader.engineResourcePath = \"https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode/dist/\";\n\npage.scanner = await bh.local.BarcodeScanner.createInstance();\nawait page.scanner.setUIElement((document.querySelector('.dce-video-container') as HTMLElement).parentElement as HTMLElement);\npage.scanner.onUniqueRead = (txt, result) => {\n    this.start(txt)\n};\n// await page.scanner.open();\n\n\nlet scanSettings = await page.scanner.getScanSettings();\nscanSettings.whenToPlaySoundforSuccessfulRead = \"unique\";\nawait page.scanner.updateScanSettings(scanSettings);\n\npage.scanner.setVideoFit('cover');\nlet settings = await page.scanner.getRuntimeSettings()\n                settings.region = {\n                    regionLeft: 20,\n                    regionTop: 20,\n                    regionRight: 80,\n                    regionBottom: 40,\n                    regionMeasuredByPercentage: 1\n                };\nawait page.scanner.updateRuntimeSettings(settings);\n\nawait page.scanner.open();\n// await page.scanner.destroyContext();\n// await page.scanner.stopScanning();\n\nconsole.log(page.scanner,\"scanner function\")\n\nconsole.log(document.querySelector('.dce-video-container'),\".dce-video-containter\")\n",
        "functionName": "sd_bAn51UN2NmXoPM9Z",
        "category": "Function",
        "x": 725,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_Tbbl0Bg8Ru7td1Wu",
        "type": "Script",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.local.error,\"Error is here\")",
        "functionName": "sd_Tbbl0Bg8Ru7td1Wu",
        "category": "Function",
        "x": 365,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_TLYfDeZqyIClHeDL",
        "type": "Catch",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [],
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_Tbbl0Bg8Ru7td1Wu"
        ],
        "functionName": "sd_TLYfDeZqyIClHeDL",
        "category": "General",
        "x": 245,
        "y": 300,
        "wires": [
            [
                "sd_Tbbl0Bg8Ru7td1Wu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_U8v2fIvcExBpXVd2",
        "type": "PageServiceVariables",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "d",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "scanner",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "scanner"
                }
            }
        ],
        "functionName": "d",
        "service": {
            "type": "tab",
            "id": "sd_ahE86wEMx7P15nPb",
            "disabled": false,
            "info": "",
            "label": "temp",
            "createdDate": "2023-05-01T05:35:19.166Z",
            "functionSeq": 0,
            "tabType": "client",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/temp",
        "category": "Function",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_VBb6XPszwYSVIySQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_VBb6XPszwYSVIySQ",
        "type": "PageCallService",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ahE86wEMx7P15nPb",
            "type": "tab",
            "createdDate": "2023-05-01T05:35:19.166Z",
            "label": "temp",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_PBnvw90h48GliooE",
            "flowName": "start"
        },
        "inputVariables": [
            {
                "key": "barcodeText",
                "map": true,
                "valueType": "bh.local",
                "value": "barcodeText"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/temp",
        "startName": "start",
        "inputParams": [
            "bh.local.barcodeText"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_VBb6XPszwYSVIySQ",
        "category": "General",
        "x": 140,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_DGSaCEfOmCYbPzqH",
        "type": "PageStart",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "start",
        "name": "start",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "barcodeText",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "start",
        "category": "General",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_ATaSPl9akVKiBLlO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_d06T5jr0TioQgu99",
        "type": "Script",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(bh.input.barcodeText,typeof(bh.input.barcodeText))\nconsole.log(bh.local.response.result)\nlet productObj={\n    productId:bh.input.barcodeText,\n    imageUrl:`data:image/jpeg;base64,${bh.local.response.result.image.data}`,\n    productName:bh.local.response.result.name,\n    description:bh.local.response.result.description,\n    weight:`${bh.local.response.result.weight}gm`,\n    rate:bh.local.response.result.price.toFixed(2),\n    count:1\n}\nif(page.products){\n    page.products.push({\n    productObj\n    })\n}else{\n\npage.products = [\n    productObj\n]\n\n\n}\n\n\n//     {\n//     productId:bh.input.barcodeText,\n//     imageUrl:\"/Web/Resource/cart1.png\",\n//     productName:\"Stone Necklace\",\n//     description:\"22ct Gold with Hall Mark k tis is snd dklfhjf ladjfksfja  dfkljksfj fjdksfjs fsjkldjsfs\",\n//     weight:\"56gm\",\n//     rate:\"125K\",\n//     count:1\n// }",
        "functionName": "sd_d06T5jr0TioQgu99",
        "category": "Function",
        "x": 645,
        "y": 160,
        "wires": [
            [
                "sd_8rpdaykBfCa3IvTX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_8rpdaykBfCa3IvTX",
        "type": "PageVariables",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "products",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "products"
                }
            }
        ],
        "functionName": "sd_8rpdaykBfCa3IvTX",
        "category": "Function",
        "x": 785,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_4loRw6sSG8LPvbVc",
        "type": "PageStart",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "start",
        "name": "cancelProduct",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "cancelProduct",
        "category": "General",
        "x": 60,
        "y": 400,
        "wires": [
            [
                "sd_kaGPA56OPmxxhE3K"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_kaGPA56OPmxxhE3K",
        "type": "Script",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.products){\n   page.products = page.products.filter(product=>{\n        if(product.productId != bh.input.event){\n            return true\n        }\n   })\n}",
        "functionName": "sd_kaGPA56OPmxxhE3K",
        "category": "Function",
        "x": 180,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_gNobqHCFhYTwWhFO",
        "type": "PageStart",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changeCount",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changeCount",
        "category": "General",
        "x": 65,
        "y": 500,
        "wires": [
            [
                "sd_F2yplR5HY7jiiN9U"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_F2yplR5HY7jiiN9U",
        "type": "Script",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.products){\n   page.products = page.products.map(product=>{\n        if(product.productId == bh.input.event.productId){\n           if(bh.input.event.operation==\"+\"){\n               product.count = product.count + 1;\n           }else{\n               product.count = product.count - 1;\n           }\n        }\n        return product;\n   })\n}\n\n// console.log(bh.input.event)",
        "functionName": "sd_F2yplR5HY7jiiN9U",
        "category": "Function",
        "x": 185,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_OLogPnkIXIvbzjaW",
        "type": "PageCallService",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_la6KIUXsIGgMIJgr",
            "type": "tab",
            "createdDate": "2023-05-01T17:52:38.714Z",
            "label": "Scan",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_FjImFQsv1VcX66QF",
            "flowName": "scan"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/Scan",
        "startName": "scan",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_OLogPnkIXIvbzjaW",
        "category": "General",
        "x": 325,
        "y": 60,
        "wires": [
            [
                "sd_ZkmyuIakzgpuH7Kt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_Hw28PWA03NsPI3zR",
        "type": "Script",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "tempscanscript",
        "script": "// console.log(bh.local.scanner,\"bh.local.scanner\")\n\nbh.local.scanner.onUniqueRead = (txt, result) => {\n    console.log(txt)\n    this.start(txt)\n};\n\nawait bh.local.scanner.setUIElement((document.querySelector('.dce-video-container') as HTMLElement).parentElement as HTMLElement);\nawait bh.local.scanner.open();\n\n\n",
        "functionName": "tempscanscript",
        "category": "Function",
        "x": 765,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_ZkmyuIakzgpuH7Kt",
        "type": "PageServiceVariables",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "scanner",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "scanner"
                }
            }
        ],
        "functionName": "sd_ZkmyuIakzgpuH7Kt",
        "service": {
            "type": "tab",
            "id": "sd_la6KIUXsIGgMIJgr",
            "disabled": false,
            "info": "",
            "label": "Scan",
            "createdDate": "2023-05-01T17:52:38.714Z",
            "functionSeq": 0,
            "tabType": "client",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/Scan",
        "category": "Function",
        "x": 525,
        "y": 60,
        "wires": [
            [
                "sd_Hw28PWA03NsPI3zR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_8BKyQMXau1hrRhfl",
        "type": "OnDestroy",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_8BKyQMXau1hrRhfl",
        "category": "Lifecycle Events",
        "x": 525,
        "y": 300,
        "wires": [
            [
                "sd_lYWGr6AypaQgA5qs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_CQUQtKgQqR5cpSVV",
        "type": "Script",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n// await bh.local.scanner.stopScanning();\n// await bh.local.scanner.stop();\nawait bh.local.scanner.close();\n// await bh.local.scanner.setUIElement(null);\n// await bh.local.scanner.destroyContext();\n// bh.local.scanner = null;",
        "functionName": "sd_CQUQtKgQqR5cpSVV",
        "category": "Function",
        "x": 725,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_lYWGr6AypaQgA5qs",
        "type": "PageServiceVariables",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "scanner",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "scanner"
                }
            }
        ],
        "functionName": "sd_lYWGr6AypaQgA5qs",
        "service": {
            "type": "tab",
            "id": "sd_la6KIUXsIGgMIJgr",
            "disabled": false,
            "info": "",
            "label": "Scan",
            "createdDate": "2023-05-01T17:52:38.714Z",
            "functionSeq": 0,
            "tabType": "client",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/Scan",
        "category": "Function",
        "x": 625,
        "y": 300,
        "wires": [
            [
                "sd_CQUQtKgQqR5cpSVV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_vtAINFg4BIf2oPxo",
        "type": "HttpRequest",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.response",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "response"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_vtAINFg4BIf2oPxo",
        "category": "HTTP",
        "x": 405,
        "y": 160,
        "wires": [
            [
                "sd_d06T5jr0TioQgu99"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_ELsIyr5sjW9fzkz2",
        "type": "Script",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.url=`${bh.local.backendUrl}/product/${bh.input.barcodeText}`\n\n",
        "functionName": "sd_ELsIyr5sjW9fzkz2",
        "category": "Function",
        "x": 305,
        "y": 160,
        "wires": [
            [
                "sd_vtAINFg4BIf2oPxo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_ATaSPl9akVKiBLlO",
        "type": "Environment",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "backendUrl"
                },
                "envProperty": "backendUrl"
            }
        ],
        "functionName": "sd_ATaSPl9akVKiBLlO",
        "category": "General",
        "x": 125,
        "y": 160,
        "wires": [
            [
                "sd_ELsIyr5sjW9fzkz2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    },
    {
        "id": "sd_lX5Xrxnz5gKzhMgK",
        "type": "Catch",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_vtAINFg4BIf2oPxo"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_lX5Xrxnz5gKzhMgK",
        "category": "General",
        "x": 880,
        "y": 260,
        "wires": [
            [
                "sd_ZzlXKX18eAiY1z8F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ScanComponent"
    },
    {
        "id": "sd_ZzlXKX18eAiY1z8F",
        "type": "SnackBar",
        "z": "sd_LIDAnDbHw9UbxkCR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh",
            "value": "error.error.message"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ZzlXKX18eAiY1z8F",
        "category": "General",
        "x": 1020,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ScanComponent",
        "generated": true
    }
]
