designs/pages/Home/Home.json
[
    {
        "id": "sd_URpkX7LTG2Vf46Pb",
        "type": "tab",
        "createdDate": "2023-04-28T10:08:50.158Z",
        "label": "Home",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "HomeComponent"
    },
    {
        "id": "sd_N2o1h0j7eHq1pLnO",
        "type": "OnInit",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_N2o1h0j7eHq1pLnO",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 80,
        "wires": [
            [
                "sd_S4hucp4ZDxORguJE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "HomeComponent"
    },
    {
        "id": "sd_xXkRTz1m9f0JjOXD",
        "type": "PageVariables",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "statistics",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "statistics"
                }
            }
        ],
        "functionName": "sd_xXkRTz1m9f0JjOXD",
        "category": "Function",
        "x": 1025,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_JkpIfNfcSWww6PtI",
        "type": "Script",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response.earnings = bh.local.response?.earnings || 0\nbh.local.response.clients = bh.local.response?.clients || 0\n\nbh.local.statistics = [\n{\n    \"imageUrl\":\"/Web/Icons/Earning.svg\",\n    \"fxFlex\":\"46\",\n    \"details\":[{\n    \"tittle\":\"Earning\",\n    \"value\": \"₹\"+bh.local.response.earnings.toFixed(2)\n    }]\n},\n{\n    \"imageUrl\":\"/Web/Icons/Clients.svg\",\n    \"fxFlex\":\"46\",\n    \"details\":[{\n    \"tittle\":\"Clients\",\n    \"value\":bh.local.response.clients\n    }]\n},\n{\n    \"imageUrl\":\"/Web/Icons/PriceGraph.svg\",\n    \"fxFlex\":\"100\",\n    \"details\":[\n    {\n    \"tittle\":\"Gold\",\n    \"value\": \"₹\"+bh.local.response.gold.toFixed(2)\n    },\n    {\n    \"tittle\":\"Silver\",\n    \"value\": \"₹\"+bh.local.response.silver.toFixed(2)\n    },\n    {\n    \"tittle\":\"Platinum\",\n    \"value\":\"₹\"+bh.local.response.platinum.toFixed(2)\n    }\n\n    ]\n},\n]\n\n\nconsole.log(page.userData,\"userdata\")\nconsole.log(\"response\")\nconsole.log(bh.local.response)\nconsole.log(\"response\")\n",
        "functionName": "sd_JkpIfNfcSWww6PtI",
        "category": "Function",
        "x": 845,
        "y": 80,
        "wires": [
            [
                "sd_xXkRTz1m9f0JjOXD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_XwRbDoPq89pHCBbR",
        "type": "PageStart",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "pages",
        "nodeType": "start",
        "name": "gotoScan",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "gotoScan",
        "category": "General",
        "x": 85,
        "y": 260,
        "wires": [
            [
                "sd_aM1w0sD8kfrb2bNW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "HomeComponent"
    },
    {
        "id": "sd_S4hucp4ZDxORguJE",
        "type": "PageServiceVariables",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "userData",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "userData"
                }
            }
        ],
        "functionName": "sd_S4hucp4ZDxORguJE",
        "service": {
            "type": "tab",
            "id": "sd_cmZCN81jlvs8Ep2o",
            "disabled": false,
            "info": "",
            "label": "getuserData",
            "createdDate": "2023-05-03T15:42:17.080Z",
            "functionSeq": 0,
            "tabType": "client",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/getuserData",
        "category": "Function",
        "x": 185,
        "y": 80,
        "wires": [
            [
                "sd_gVLh6gee5TPrxtk7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_OkJIavllgUU1n0M1",
        "type": "Navigation",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/ui/scan",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_OkJIavllgUU1n0M1",
        "category": "Navigation",
        "x": 865,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_aM1w0sD8kfrb2bNW",
        "type": "Script",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.phoneNumber)\nbh.local.isValid=false;\nlet userPhoneNumber=`${page.phoneNumber}`\nconsole.log(userPhoneNumber,typeof userPhoneNumber,userPhoneNumber.length)\nif(userPhoneNumber.length>=10&&userPhoneNumber.length<=13){\n   console.log('valid phone number')\n   bh.local.isValid=true;\n}\nelse{\n    \n     console.log('Invalid phone number')\n     bh.local.isValid=false;\n     document.getElementById(\"phoneNumberError\").innerText='Invalid phone number'\n\n}",
        "functionName": "sd_aM1w0sD8kfrb2bNW",
        "category": "Function",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "sd_hvDLK6DZJLFBUldB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_hvDLK6DZJLFBUldB",
        "type": "PageSwitch",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isValid",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.isValid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_hvDLK6DZJLFBUldB",
        "category": "Function",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "sd_WZb8ssVdQ1gPIyv9"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_WZb8ssVdQ1gPIyv9",
        "type": "Storage",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userPhoneNumber"
        },
        "value": {
            "type": "this.page",
            "value": "phoneNumber"
        },
        "resultMapping": {},
        "functionName": "sd_WZb8ssVdQ1gPIyv9",
        "category": "Storage",
        "x": 600,
        "y": 260,
        "wires": [
            [
                "sd_OkJIavllgUU1n0M1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_Ha6huPWSnuDcK5kK",
        "type": "HttpRequest",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.response",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "response"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_Ha6huPWSnuDcK5kK",
        "category": "HTTP",
        "x": 745,
        "y": 80,
        "wires": [
            [
                "sd_JkpIfNfcSWww6PtI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_3AsD6H2H09nUoEN4",
        "type": "Script",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.url = `${bh.local?.backendUrl}/dashboard/${bh.local?.employeeData?.employeeid}`\nconsole.log(bh.local.userPhoneNumber,\"bh.local.userPhoneNumber\")\npage.phoneNumber = bh.local.userPhoneNumber || \"\"\n",
        "functionName": "sd_3AsD6H2H09nUoEN4",
        "category": "Function",
        "x": 605,
        "y": 80,
        "wires": [
            [
                "sd_Ha6huPWSnuDcK5kK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_gVLh6gee5TPrxtk7",
        "type": "Environment",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "backendUrl"
                },
                "envProperty": "backendUrl"
            }
        ],
        "functionName": "sd_gVLh6gee5TPrxtk7",
        "category": "General",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "sd_1l91Kpg2m1xWQdfS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_1l91Kpg2m1xWQdfS",
        "type": "Storage",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "employeeData"
        },
        "value": {},
        "resultMapping": {
            "type": "bh.local",
            "value": "employeeData"
        },
        "functionName": "sd_1l91Kpg2m1xWQdfS",
        "category": "Storage",
        "x": 405,
        "y": 80,
        "wires": [
            [
                "sd_R1prXmuXbNVjTV5R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_cWx3T0wkeaF90Xc9",
        "type": "Catch",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_Ha6huPWSnuDcK5kK"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_cWx3T0wkeaF90Xc9",
        "category": "General",
        "x": 765,
        "y": 180,
        "wires": [
            [
                "sd_ykUzjkqZLV19dnXi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "HomeComponent"
    },
    {
        "id": "sd_ykUzjkqZLV19dnXi",
        "type": "Script",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.statistics = [\n{\n    \"imageUrl\":\"/Web/Icons/Earning.svg\",\n    \"fxFlex\":\"46\",\n    \"details\":[{\n    \"tittle\":\"Earning\",\n    \"value\": \"N/A\"\n    }]\n},\n{\n    \"imageUrl\":\"/Web/Icons/Clients.svg\",\n    \"fxFlex\":\"46\",\n    \"details\":[{\n    \"tittle\":\"Clients\",\n    \"value\":\"N/A\"\n    }]\n},\n{\n    \"imageUrl\":\"/Web/Icons/PriceGraph.svg\",\n    \"fxFlex\":\"100\",\n    \"details\":[\n    {\n    \"tittle\":\"Gold\",\n    \"value\": \"N/A\"\n    },\n    {\n    \"tittle\":\"Silver\",\n    \"value\": \"N/A\"\n    },\n    {\n    \"tittle\":\"Platinum\",\n    \"value\":\"N/A\"\n    }\n\n    ]\n},\n]",
        "functionName": "sd_ykUzjkqZLV19dnXi",
        "category": "Function",
        "x": 885,
        "y": 180,
        "wires": [
            [
                "sd_xXkRTz1m9f0JjOXD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    },
    {
        "id": "sd_R1prXmuXbNVjTV5R",
        "type": "Storage",
        "z": "sd_URpkX7LTG2Vf46Pb",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userPhoneNumber"
        },
        "value": {},
        "resultMapping": {
            "type": "bh.local",
            "value": "userPhoneNumber"
        },
        "functionName": "sd_R1prXmuXbNVjTV5R",
        "category": "Storage",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "sd_3AsD6H2H09nUoEN4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HomeComponent",
        "generated": true
    }
]
